# ignore Jetbrains
.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore wandb
wandb/*

# ignore local trill test
/trill-test/

# ignore the contents of the SW corpus, as it can be downloaded from somewhere else
german/*
!german/README.md

# ignore the generated .wav files and their directories
# anonymized and demo .wav files cannot be generated and have to be stored
wavs/*
!wavs/anonymized/
!wavs/demo/

# ignore all features, as they can be created
embeddings-ge2e/*
!embeddings-ge2e/README.md
embeddings-trill/*
!embeddings-trill/README.md
feature-streams/*
!feature-streams/README.md
