# ignore Jetbrains
.idea/*

# ignore wandb
wandb/*

# ignore the contents of the SW corpus
german/*
!german/README.md

# ignore the generated .wav files and their directories
# anonymized and demo .wav files cannot be generated and have to be stored
wavs/*
!wavs/anonymized/
!wavs/demo/

# ignore all embeddings, as they can be created
embeddings/*
!embeddings/README.md
